@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

:root{
   --pumpkin: #F96900;
   --safetyOrange: #F17F29;
   --slateBlue: #7D53DE;
   --powderBlue: #B4C5E4;
   --darkPurple:#1C0221;
   --blue:#7D53DE;
   --red:tomato;
   --orange:orange;
   --black:#333;
   --white:#fff;
   --bg-color:#eee;
   --dark-bg:rgba(0,0,0,.7);
   --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
   --border:.1rem solid #999;
}

*{
   font-family: 'Poppins', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration: none;
   text-transform: capitalize;
}

/* html{
   font-size: 16px;
   overflow-x: hidden;
} */

/* .update-form{
   overflow: inherit;
} */

.container{
   max-width: 1200px;
   margin:0 auto;
   /* padding-bottom: 5rem; */
}

section{
   padding:2rem;
}

.heading{
   text-align: center;
   font-size: 3.5rem;
   text-transform: uppercase;
   color:var(--pumpkin);
   margin-bottom: 2rem;
}
.heading p {
   color:var(--pumpkin);
}

.btn,
.option-btn,
.delete-btn{
   /* visibility: hidden; */
   display: block;
   width: 100%;
   text-align: center;
   background-color: var(--slateBlue);
   color:var(--white);
   font-size: 1.7rem;
   padding:1.2rem 3rem;
   border-radius: .5rem;
   cursor: pointer;
   margin-top: 1rem;
}

.btn:hover,
.option-btn:hover,
.delete-btn:hover{
   background-color: var(--black);
}

.option-btn i,
.delete-btn i{
   padding-right: .5rem;
}

.option-btn{
   background-color: var(--orange);
}

.delete-btn{
   margin-top: 0;
   background-color: var(--red);
}

.message{
   background-color: var(--blue);
   position: sticky;
   top:0; left:0;
   z-index: 10000;
   border-radius: .5rem;
   background-color: var(--white);
   padding:1.5rem 2rem;
   margin:0 auto;
   max-width: 1200px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap:1.5rem;
}

.message span{
   font-size: 2rem;
   color:var(--black);
}

.message i{
   font-size: 2.5rem;
   color:var(--black);
   cursor: pointer;
}

.message i:hover{
   color:var(--red);
}

.header{
   /* visibility: hidden; */
   background-color: var(--darkPurple);
   position: sticky;
   top:0; left:0;
   z-index: 1000;
}

.header .flex{
   width: 100%;
   display: flex;
   align-items: center;
   padding:1.5rem 2rem;
   height: 4.5rem;
   /* max-width: 1200px; */
   /* margin:0 auto; */
   background-color: var(--darkPurple);
}

.header .flex .logo{
   position: relative;
   top: 5px;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-right: auto;
   font-size: 2.5rem;
   color:var(--white);
}

.header .flex .navbar a{
   margin-left: 2rem;
   font-size: 2rem;
   color:var(--white);
}

.header .flex .navbar a:hover{
   color: var(--pumpkin);
}

.header .flex .cart{
   margin-left: 2rem;
   font-size: 2rem;
   color:var(--white);
}

.header .flex .cart:hover{
   color: var(--pumpkin);
}

.header .flex .cart span{
   padding:.1rem .5rem;
   border-radius: .5rem;
   background-color: var(--white);
   color:var(--blue);
   font-size: 2rem;
}

#menu-btn{
   margin-left: 2rem;
   font-size: 3rem;
   cursor: pointer;
   color:var(--white);
   display: none;
}

.add-product-form{
   max-width: 50rem;
   background-color: var(--bg-color);
   border-radius: .5rem;
   padding:2rem;
   margin:0 auto;
   margin-top: 2rem;
}

.add-product-form h3{
   font-size: 2.5rem;
   margin-bottom: 1rem;
   color:var(--black);
   text-transform: uppercase;
   text-align: center;
}

.add-product-form .box{
   text-transform: none;
   padding:1.2rem 1.4rem;
   font-size: 1.7rem;
   color:var(--black);
   border-radius: .5rem;
   background-color: var(--white);
   margin:1rem 0;
   width: 100%;
}

.display-product-table table{
   width: 100%;
   text-align: center;
}

.display-product-table table thead th{
   padding:1.5rem;
   font-size: 2rem;
   background-color: var(--black);
   color:var(--white);
}

.display-product-table table td{
   padding:1.5rem;
   font-size: 2rem;
   color:var(--black);
}

.display-product-table table td:first-child{
   padding:0;
}

.display-product-table table tr:nth-child(even){
   background-color: var(--bg-color);
}

.display-product-table .empty{
   margin-bottom: 2rem;
   text-align: center;
   background-color: var(--bg-color);
   color:var(--black);
   font-size: 2rem;
   padding:1.5rem;
}

.edit-form-container{
   position: fixed;
   top:0; left:0;
   z-index: 1100;
   background-color: var(--dark-bg);
   padding:2rem;
   display: none;
   align-items: center;
   justify-content: center;
   min-height: 100vh;
   width: 100%;
}

.edit-form-container form{
   width: 50rem;
   border-radius: .5rem;
   background-color: var(--white);
   text-align: center;
   padding:2rem;
}

.edit-form-container form .box{
   width: 100%;
   background-color: var(--bg-color);
   border-radius: .5rem;
   margin:1rem 0;
   font-size: 1.7rem;
   color:var(--black);
   padding:1.2rem 1.4rem;
   text-transform: none;
}

.products .box-container{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   grid-template-columns: repeat(auto-fit, 35rem);
   gap:1.5rem;
   justify-content: center;
}

.products .box-container .box{
   text-align: center;
   padding:2rem;
   box-shadow: var(--box-shadow);
   border:var(--border);
   border-radius: .5rem;
}

.products .box-container .box img{
   height: 25rem;
}

.products .box-container .box h3{
   margin:1rem 0;
   font-size: 2.5rem;
   color:var(--black);
}

.products .box-container .box .price{
   font-size: 2.5rem;
   color:var(--black);
}

.shopping-cart table{
   text-align: center;
   width: 100%;
}

.shopping-cart table thead th{
   padding:1.5rem;
   font-size: 2rem;
   color:var(--white);
   background-color: var(--black);
}

.shopping-cart table tr td{
   border-bottom: var(--border);
   padding:1.5rem;
   font-size: 2rem;
   color:var(--black);
}

.shopping-cart table input[type="number"]{
   border: var(--border);
   padding:1rem 2rem;
   font-size: 2rem;
   color:var(--black);
   width: 10rem;
}

.shopping-cart table input[type="submit"]{
   padding:.5rem 1.5rem;
   cursor: pointer;
   font-size: 2rem;
   background-color: var(--orange);
   color:var(--white);
}

.shopping-cart table input[type="submit"]:hover{
   background-color: var(--black);
}

.shopping-cart table .table-bottom{
   background-color: var(--bg-color);
}

.shopping-cart .checkout-btn{
   text-align: center;
   margin-top: 1rem;
}

.shopping-cart .checkout-btn a{
   display: inline-block;
   width: auto;
}

.shopping-cart .checkout-btn a.disabled{
   pointer-events: none;
   opacity: .5;
   user-select: none;
   background-color: var(--red);
}

.checkout-form form{
   padding:2rem;
   border-radius: .5rem;
   background-color: var(--bg-color);
}

.checkout-form form .flex{
   display: flex;
   flex-wrap: wrap;
   gap:1.5rem;
}

.checkout-form form .flex .inputBox{
   flex:1 1 40rem;
}

.checkout-form form .flex .inputBox span{
   font-size: 2rem;
   color:var(--black);
}

.checkout-form form .flex .inputBox input,
.checkout-form form .flex .inputBox select{
   width: 100%;
   background-color: var(--white);
   font-size: 1.7rem;
   color:var(--black);
   border-radius: .5rem;
   margin:1rem 0;
   padding:1.2rem 1.4rem;
   text-transform: none;
   border:var(--border);
}

.display-order{
   max-width: 50rem;
   background-color: var(--white);
   border-radius: .5rem;
   text-align: center;
   padding:1.5rem;
   margin:0 auto;
   margin-bottom: 2rem;
   box-shadow: var(--box-shadow);
   border:var(--border);
}

.display-order span{
   display: inline-block;
   border-radius: .5rem;
   background-color: var(--bg-color);
   padding:.5rem 1.5rem;
   font-size: 2rem;
   color:var(--black);
   margin:.5rem;
}

.display-order span.grand-total{
   width: 100%;
   background-color: var(--red);
   color:var(--white);
   padding:1rem;
   margin-top: 1rem;
}

.order-message-container{
   position: fixed;
   top:0; left:0;
   height: 100vh;
   overflow-y: scroll;
   overflow-x: hidden;
   padding:2rem;
   display: flex;
   align-items: center;
   justify-content: center;
   z-index: 1100;
   background-color: var(--dark-bg);
   width: 100%;
}

.order-message-container::-webkit-scrollbar{
   width: 1rem;
}

.order-message-container::-webkit-scrollbar-track{
   background-color: var(--dark-bg);
}

.order-message-container::-webkit-scrollbar-thumb{
   background-color: var(--blue);
}

.order-message-container .message-container{
   width: 50rem;
   background-color: var(--white);
   border-radius: .5rem;
   padding:2rem;
   text-align: center;
}

.order-message-container .message-container h3{
   font-size: 2.5rem;
   color:var(--black);
}

.order-message-container .message-container .order-detail{
   background-color: var(--bg-color);
   border-radius: .5rem;
   padding:1rem;
   margin:1rem 0;
}

.order-message-container .message-container .order-detail span{
   background-color: var(--white);
   border-radius: .5rem;
   color:var(--black);
   font-size: 2rem;
   display: inline-block;
   padding:1rem 1.5rem;
   margin:1rem;
}

.order-message-container .message-container .order-detail span.total{
   display: block;
   background: var(--red);
   color:var(--white);
}

.order-message-container .message-container .customer-details{
   margin:1.5rem 0;
}

.order-message-container .message-container .customer-details p{
   padding:1rem 0;
   font-size: 2rem;
   color:var(--black);
}

.order-message-container .message-container .customer-details p span{
   color:var(--blue);
   padding:0 .5rem;
   text-transform: none;
}


















/* media queries  */

@media (max-width:1200px){

   .shopping-cart{
      overflow-x: scroll;
   }

   .shopping-cart table{
      width: 120rem;
   }

   .shopping-cart .heading{
      text-align: left;
   }

   .shopping-cart .checkout-btn{
      text-align: left;
   }

}

@media (max-width:991px){

   html{
      font-size: 55%;
   }

}

@media (max-width:768px){

   #menu-btn{
      display: inline-block;
      transition: .2s linear;
   }

   #menu-btn.fa-times{
      transform: rotate(180deg);
   }

   .header .flex .navbar{
      position: absolute;
      top:99%; left:0; right:0;
      background-color: var(--blue);
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
      transition: .2s linear;
   }

   .header .flex .navbar.active{
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
   }

   .header .flex .navbar a{
      margin:2rem;
      display: block;
      text-align: center;
      font-size: 2.5rem;
   }

   .display-product-table{
      overflow-x: scroll;
   }

   .display-product-table table{
      width: 90rem;
   }

}

@media (max-width:450px){

   html{
      font-size: 50%;
   }

   .heading{
      font-size: 3rem;
   }

   .products .box-container{
      grid-template-columns: 1fr;
   }

}











@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Roboto&display=swap');
* {box-sizing: border-box}

body{
  font-family: "Roboto", "Helvetica", "Sans-serif";
	padding: 0;
	margin: 0;
	background-color: #B4C5E4;
}

.Global-Container{
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
}

h1 {
  margin: 0;
  padding: 0;
  font-family: "Playfair Display", serif;
  font-weight: 800;
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
  color: #e8491d;
}

h2 {
  margin: 0;
  padding: 0;
  font-family: "Playfair Display", serif;
  font-weight: 800;
  font-size: 2.5rem;
  color: #e8491d;
  margin-bottom: 1rem;
  line-height: 1.2;
}

/* Start Header Styles */
#navigation {
  position: fixed;
  display: flex;
  justify-content: center;
  background-color: #1c0221;
  width: 100%;
  height: 4.5rem;
  z-index: 5;
}

.nav-bar {
   /* position: fixed; */
  display: flex;
  align-content: center;
  align-items: center;
  width: 100%;
  /* height: 4rem; */
  padding-left: 2rem;
  padding-right: 2rem;
}

.klassy-logo img {
  width: 20%;
  height: auto;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
}

.nav-btn {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  right: 2rem;
}

.btn-landing {
   /* visibility: hidden; */
  border: none;
  background: none;
  color: #fff;
  font-size: 32px;
  font-weight: 100;
  font-family: "Roboto", "Helvetica", "Sans-serif";
}

.signUp:hover, .login:hover, .logOut:hover, .shop:hover {
  color: var(--pumpkin);
}

.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: none;
  color: #fff;
  font-size: 40px;
  font-weight: lighter;
}

/* End Header Styles */


/* Begin Slideshow Styles */
#slideshow {
  position: relative;
  width: 100%;
  top: 2rem;
}

.mySlides {display: none;}

/* Slideshow container */
.slideshow-container {
  /* max-width: 1000px; */
  width: 100%;
  height: auto;
  position: relative;
}

/* Caption text */
.text {
  font-size: 32px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 60%;
  text-align: left;
  z-index: 4;
}

/* .text p {
  color: #000;
  font-weight: bold;
} */
.black {
  color: #000;
  /* font-weight: bold; */
}

.white {
  color: #fff;
  /* font-weight: bold; */
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
/* End Slideshow Styles */


/* Start Product Carousel Styles */
.carousel-container {
  width: 100%;
  position: relative;
  padding-bottom: 2rem;
  margin-top: 0;
}

.carousel-wrapper {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  padding: 20px 0;
}

.carousel-items {
  display: flex;
  flex-wrap: nowrap;
}

.item {
  flex: 0 0 auto;
  width: 250px;
  margin-right: 10px;
  scroll-snap-align: center;
}

.item img {
  width: 100%;
  height: auto;
}

.item h3 {
  margin-top: 10px;
  font-size: 16px;
}

.item p {
  margin-top: 5px;
  font-size: 14px;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background-color: transparent;
  font-size: 24px;
  cursor: pointer;
}

.prev-button {
  left: 10px;
}

.next-button {
  right: 10px;
}
/* End Product Carousel Styles */


/* Start Increament Counter */
#increamentCounter {
  padding-bottom: 2rem;
}

.counter-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  text-align: center;
  margin: 30px 50px;
  font-family: "Playfair Display", serif;
  width: 250px;
  height: 350px;
  background-color: #7D53DE;
  border-radius: 20px;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
}

#count {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: none;
  background: none;
}

.counter-container span{
  font-style: italic;
  font-size: 16px;
  bottom: 2px;
}

.counter-container img {
  width: 40%;
  height: auto;
  margin: 0;
  padding: 0;
}

.counter {
  font-size: 60px;
  margin-top: 10px;
  color: #000;
}

@media (max-width: 580px) {
  body {
      flex-direction: column;
  }
  #count {
    flex-direction: column;
  }
}
/* End Increament Counter */

/* Start Product Two Carousel Styles */
#productScroll2 {
  padding-bottom: 2rem;
}

.carousel-container-Two {
  width: 100%;
  position: relative;
}

.carousel-wrapper-Two {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  padding: 20px 0;
}

.carousel-items-Two {
  display: flex;
  flex-wrap: nowrap;
}

.item {
  flex: 0 0 auto;
  width: 250px;
  margin-right: 10px;
  scroll-snap-align: center;
}

.item img {
  width: 100%;
  height: auto;
}

.item h3 {
  margin-top: 10px;
  font-size: 16px;
}

.item p {
  margin-top: 5px;
  font-size: 14px;
}

.carousel-button-Two {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background-color: transparent;
  font-size: 24px;
  cursor: pointer;
}

.prev-button-Two {
  left: 10px;
}

.next-button-Two {
  right: 10px;
}
/* End Product Two Carousel Styles */

/* start: testimonials styles */
.mySlidesText {display: none}

#testimonials {
  padding-bottom: 2rem;
}

#testimonials h2 {
  text-align: center;
  color: #F96900;
}

.mySlidesText blockquote {
  font-size: 1.5rem;
  font-style: italic;
  margin: 1rem auto 3rem;
  max-width: 740px;
  text-align: center;
}

.testimonials-caption {
  width: 200px;
  margin: 0 auto;
}

.testimonials-caption img {
  float: left;
  border-radius: 30px;
  width: 60px;
}

.testimonials-caption p {
  position: relative;
  top: 13px;
  font-size: 1.2rem;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 30px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */
.dotsTest {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dotsTest:hover {
  background-color: #000;
}

.dots-active {
  background-color: #000;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
/* end: testimonials styles */


/* Start Logo Carousel Styles */
#logoSlide {
  padding-bottom: 2rem;
}

.carousel-container-Logo {
  width: 100%;
  position: relative;
}

.carousel-wrapper-Logo {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  padding-bottom: 20px;
}

.carousel-items-Logo {
  display: flex;
  gap: 8rem;
  flex-wrap: nowrap;
}

.item-Logo {
  flex: 0 0 auto;
  width: 250px;
  margin-right: 10px;
  scroll-snap-align: center;
}

.item-Logo img {
  width: 100%;
  height: auto;
}

.carousel-button-Logo {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background-color: transparent;
  font-size: 36px;
  cursor: pointer;
}

.prev-button-Logo {
  left: 10px;
}

.next-button-Logo {
  right: 10px;
}
/* End Product Two Carousel Styles */


/* start: footer styles */
.footer {
    background: #000;
    padding: 2rem 0;
}

.footer-flex {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  padding: 0;
  margin-left: 3rem;
}

.footer h5 {
    color: #fff;
    margin-bottom: 1rem;
    font-weight: 300;
    font-size: 1.05rem;
}

.footer .footer-about {
    width: 50%;
}

.footer .footer-about p {
    width: 80%;
    color: #777;
}

.footer .footer-quick-links {
    width: 20%;
}

footer .footer-quick-links ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer .footer-quick-links ul li {
    margin: 10px 0;
}

.footer .footer-quick-links ul li a {
    color: #777;
    text-decoration: none;
}

.footer .footer-quick-links ul li a:hover {
    color: #F96900;
}

.footer .followUs {
    width: 20%;
    list-style-type: none;
    text-decoration: none;
}
footer .footer-followUs ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer .footer-followUs ul li a {
    color: #777;
    text-decoration: none;
}

.footer .footer-followUs ul li span {
    padding: 10px;
}

.footer .footer-followUs ul li a:hover {
    color: #F96900;
}

.footer small {
  border-top: 1px solid #fff;
  color: #777;
  padding-top: 2rem;
  margin-top: 2rem;
  font-size: 1rem;
  display: block;
  text-align: center;
}

 /* Start Login And SignUp Styles */
 
  /* End Login And SignUp Styles */